---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>


    <div class="body-region hidden">
        <h1>Welcome to Terra Vista Dental Care!</h1>

        <div class="slideshow-container">
            <button class="left slideshow-arrow" id="left-slideshow-arrow">
                <img class="arrow-image" src="{{ '/images/slideshow/arrows/LeftArrow.svg' | relative_url}}" alt="left arrow">
            </button>
            <button class="right slideshow-arrow" id="right-slideshow-arrow">
                <img class="arrow-image" src="{{ '/images/slideshow/arrows/RightArrow.svg' | relative_url}}" alt="right arrow">
            </button>
            <img class="slideshow-image active" id="img-0" src="images/slideshow/display_pictures/SlideshowImage0.jpg" alt="pic 0">
            <img class="slideshow-image" id="img-1" src="images/slideshow/display_pictures/SlideshowImage1.jpg" alt="pic 1">
            <img class="slideshow-image" id="img-2" src="images/slideshow/display_pictures/SlideshowImage2.jpg" alt="pic 2">
        </div>
        <div class="slideshow-dots-container">
            <div class="bigger-dot-container">
                <button class="slideshow-dot active" id="slideshow-dot-0"></button>
            </div>
            <div class="bigger-dot-container">
                <button class="slideshow-dot" id="slideshow-dot-1"></button>
            </div>
            <div class="bigger-dot-container">
                <button class="slideshow-dot" id="slideshow-dot-2"></button>
            </div>
        </div>
        <div class="horizontal-stack container home-link">
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 1">
                <a class="base text" href="index.html">LINK 3</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 2">
                <a class="base text" href="index.html">LINK 2</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 3">
                <a class="base text" href="index.html">LINK 1</a>
            </div>
        </div>
        <div class="quote-container">
            <div class="quote medium text">
                <p>
                    Welcome to Terra Vista Dental Care. We invite you to visit our newly renovated, 
                    state-of-the-art office at 7211 Haven Ave., Suite D. 
                </p>
                <p>
                    Led by Dr. Sejal Rajurkar, 
                    with over 15 years of private practice experience, we provide personalized, 
                    high-quality dental care for children and adults—from preventive and cosmetic dentistry to Invisalign. 
                </p>
                <p>
                    Conveniently located off the 210 freeway at the corner of Haven Ave. and Baseline Rd., 
                    we're your one-stop destination for family and cosmetic dentistry.
                </p>

            </div>
        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}"></script>
    <script type="module" src="{{ '/scripts/slideshow_exec.js' | relative_url }}"></script>
</body>
</html>