---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>


    <div class="body-region hidden">
        <h1>Welcome to Terra Vista Dental Care!</h1>
        <div class="horizontal-stack">

            <div class="slideshow-wrapper">
                <div class="slideshow-container">

                <button class="left slideshow-arrow" id="left-slideshow-arrow">
                    <img class="arrow-image" src="{{ '/images/slideshow/arrows/LeftArrow.svg' | relative_url}}" alt="left arrow">
                </button>
                <button class="right slideshow-arrow" id="right-slideshow-arrow">
                    <img class="arrow-image" src="{{ '/images/slideshow/arrows/RightArrow.svg' | relative_url}}" alt="right arrow">
                </button>
                <img class="slideshow-image active" id="img-0" src="images/slideshow/display_pictures/SlideshowImage0.jpg" alt="pic 0">
                <img class="slideshow-image" id="img-1" src="images/slideshow/display_pictures/SlideshowImage1.jpg" alt="pic 1">
                <img class="slideshow-image" id="img-2" src="images/slideshow/display_pictures/SlideshowImage2.jpg" alt="pic 2">
                </div>
                <div class="slideshow-dots-container">
                    <div class="bigger-dot-container">
                        <button class="slideshow-dot active" id="slideshow-dot-0"></button>
                    </div>
                    <div class="bigger-dot-container">
                        <button class="slideshow-dot" id="slideshow-dot-1"></button>
                    </div>
                    <div class="bigger-dot-container">
                        <button class="slideshow-dot" id="slideshow-dot-2"></button>
                    </div>
                </div>
            </div>

            
            <div class="large text box home">
                <p>
                    Located at the foothills of the San Gabriel Mountains on the 
                    northeast corner of Haven Ave and Baseline Rd in Rancho 
                    Cucamonga, Terra Vista Dental Care is led by 
                    <a href="pages/our_doctors.html">Dr. Sejal Rajurkar DDS</a>. We 
                    provide personalized, high-quality dental care for children and 
                    adults of all ages, 
                    <a href="pages/services_provided.html">offering</a> everything 
                    from preventive 
                    treatment to Invisalign Clear Aligners, cosmetic procedures, 
                    mercury-free white fillings, and dental veneers.
                </p>
                <p>
                    With over fifteen years of private practice experience and a 
                    background in dental research, Dr. Rajurkar practices 
                    evidence-based dentistry to achieve the best long-term 
                    functional and aesthetic outcomes for her patients.
                </p>
                <p>
                    Our team is carefully selected to be kind, patient, and 
                    compassionate — and we hope that comes through from the moment 
                    you walk in. We understand that scheduling your first 
                    appointment can feel intimidating, but we promise you'll be glad 
                    you did! You're also welcome to stop by anytime for a 
                    no-strings-attached tour of our newly renovated office — and 
                    while you're here, enter our raffle for a chance to win a free 
                    professional Zoom teeth whitening treatment (drawn every 3 
                    months). We'd love to meet you!
                </p>
            </div>


        </div>

        

        
        <div class="horizontal-stack container home-link">
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 1">
                <a class="base text" href="index.html">LINK 3</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 2">
                <a class="base text" href="index.html">LINK 2</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 3">
                <a class="base text" href="index.html">LINK 1</a>
            </div>
        </div>

    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}"></script>
    <script type="module" src="{{ '/scripts/slideshow_exec.js' | relative_url }}"></script>
</body>
</html>