---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>


    <div class="body-region hidden">
        <h1>Welcome to Terra Vista Dental Care!</h1>

        <div class="slideshow-container">
            <button class="left slideshow-arrow" id="left-slideshow-arrow">
                <img class="arrow-image" src="{{ '/images/slideshow/arrows/LeftArrow.svg' | relative_url}}" alt="left arrow">
            </button>
            <button class="right slideshow-arrow" id="right-slideshow-arrow">
                <img class="arrow-image" src="{{ '/images/slideshow/arrows/RightArrow.svg' | relative_url}}" alt="right arrow">
            </button>
            <img class="slideshow-image active" id="img-0" src="images/slideshow/display_pictures/SlideshowImage0.jpg" alt="pic 0">
            <img class="slideshow-image" id="img-1" src="images/slideshow/display_pictures/SlideshowImage1.jpg" alt="pic 1">
            <img class="slideshow-image" id="img-2" src="images/slideshow/display_pictures/SlideshowImage2.jpg" alt="pic 2">
        </div>
        <div class="slideshow-dots-container">
            <div class="bigger-dot-container">
                <button class="slideshow-dot active" id="slideshow-dot-0"></button>
            </div>
            <div class="bigger-dot-container">
                <button class="slideshow-dot" id="slideshow-dot-1"></button>
            </div>
            <div class="bigger-dot-container">
                <button class="slideshow-dot" id="slideshow-dot-2"></button>
            </div>
        </div>
        <div class="horizontal-stack container home-link">
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 1">
                <a class="base text" href="index.html">LINK 3</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 2">
                <a class="base text" href="index.html">LINK 2</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 3">
                <a class="base text" href="index.html">LINK 1</a>
            </div>
        </div>
        <div class="medium text box">
            <p>
                We are located at the foothills of the San Gabriel mountains on 
                the northeast corner of Haven Ave and Baseline Rd in Rancho 
                Cucamonga. Led by <a href="pages/our_doctors.html">Dr. Sejal 
                Rajurkar DDS</a>, link to our doctors
                page we believe in providing personalized, high-quality dental 
                care for all of our patients. We treat children and adults of 
                all ages. Our <a href="pages/services_provided.html">dental 
                services</a> include a 
                full gamut of procedures ranging from preventive dental 
                treatment to Invisalign Clear Aligners...and everything in 
                between! Ask us about cosmetic procedures such as mercury-free 
                white fillings, dental veneers, and 
                <a href="pages/specials.html">Invisalign clear aligners</a>.
            </p>
            <p>
                With over fifteen years of private practice experience and a 
                background in dental research, Dr. Rajurkar has mastered the 
                perfect balance in incorporating dental research into clinical 
                dentistry. This allows her to practice evidence-based dentistry 
                and achieve the best long-term functional and esthetic treatment 
                outcomes for her patients.
            </p>
            <p>
                Our team at Terra Vista Dental Care is carefully selected and 
                trained to ensure that everyone—from the receptionist to the 
                dental assistants—is kind and patient, and treats our patients 
                with compassion and dignity. We are passionate about the work we 
                do and the care we provide, and we hope that passion is evident 
                from the moment you walk through our doors.
            </p>
            <p>
                We understand that scheduling your first appointment might feel 
                intimidating, but we can assure you that you will be glad you 
                did. In the meantime you are welcome to visit us in-person for a
                no-strings-attached tour of our newly renovated office.link to 
                home page slide show During your visit, you may enter a raffle 
                (drawn once every 3 months) for a chance to win a free 
                professional
                <a href="https://www.usa.philips.com/c-m-pe/teeth-whitening/in-office-teeth-whitening"
                target="_blank">Zoom teeth whitening treatment</a>. We are 
                excited to see you, show you around and answer any questions you 
                might have.
            </p>



        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}"></script>
    <script type="module" src="{{ '/scripts/slideshow_exec.js' | relative_url }}"></script>
</body>
</html>