* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: black 1px solid; */
    background-color: transparent;
}

:root {
    /* Nav bar colors */
    --hover-color: black;
    --active-color: black;
}

html {
    font-size: 16px;
}


body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

.item-list {
    list-style-type: none;
    padding: 0px;
}

.header-region {
    min-height: 50px;
    background-color: #302020;
}

.logo-contact-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #f7efdf;
    /* margin-bottom: 20px; */
}

.logo-slogan-container, .top-contact-container {
    display: flex;
}


.logo-slogan-container {
    flex-direction: column;
    display: flex;
    flex-grow: 0;
}

.logo {
    font-size: 50px;
    text-align: center;
}

.slogan {
    text-align: center;
    flex-grow: 0;
    font-size: 20px;
    font-family: cursive;
    color: rgb(159, 140, 118);
}

.top-contact-container {
    justify-content: flex-end;
    flex-grow: 1;
}

.top-contact.item-list {
    text-align: end;
}

.nav-container {
    display: flex;
    flex-grow: 1;
    min-height: 50px;
    justify-content: center;
    flex-shrink: 0;
    margin: 0px 50px 0px 50px;
}

.nav-bar {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-divider {
    height: 50px;
    width: 30px;
    /* border: solid black 1px; */
    /* background-color: black; */
    align-self: center;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 0;
    justify-content: center;
    align-items: center;
}

.nav.item {
    /* flex-grow: 1; */
    border: 0;
    font-size: clamp(.75em, 1.35vw, 1.25em);
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    background-color: transparent;
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-shrink: 1;
}


.nav.item:hover {
    /* color: #302020; */
    /* text-decoration: underline; */
    /* background-color: rgb(163, 116, 54); */
    /* border-top: var(--hover-color) 1px solid;
    border-left: var(--hover-color) 1px solid;
    border-right: var(--hover-color) 1px solid; */
    border-bottom: var(--hover-color) 1px solid;

}

.nav.item.active {
    /* border-top: var(--active-color) 1px solid;
    border-left: var(--active-color) 1px solid;
    border-right: var(--active-color) 1px solid; */
    border-bottom: var(--active-color) 2px solid;
    background-color: white;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    align-content: stretch;
    margin: 20px;
    height: auto;
    width: 90vw;
}

.slideshow {
    flex-grow: 1;
}

.slideshow.image {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-container, .map.image, .map-region {
    height: fit-content;
}

.map-container {
    padding: 0px;
    margin: 0px;
    flex-shrink: 1;
}

.map.image {
    width: 100%;
    height: auto;
    display: block;
}



.map-region {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    flex-shrink: 1;
}

.bottom-info-container {
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #302020;
    height: 15vh;
    color: white;
}

.schedule-container, .email-phone-container, .social-media-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.body-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex-grow: 1;
    /* background-color: #302020; */
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 5vw 5vh 5vw 5vh;
    background-color: transparent;
}

.quote {
    font-size: clamp(.5rem, 2vw, 2.5rem);
    text-align: center;
    background-color: transparent;
}

.weird-quote {
    font-size: 500px;
}

.schedule-title {
    display: flex;
    font-size: 1.5em;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.schedule.item-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    color: white;
}   

a.fa {
    padding: 20px;
    font-size: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa-facebook {
    font-size: 60;
    background-color: #3b5998;
}

.fa-google {
    background-color: #dd4b39;
}

.fa-instagram {
    background-color: #125688;
}

.fa-yelp {
    background-color: red;
}


