/* #region General */

* {
    font-family: "Albert Sans", sans-serif;
    /* border: black 1px solid; */
    background-color: transparent;
}

.albert-sans-font {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
    font-size: clamp(15px, 1rem + 0.25vw, 17px);
}

:root {
    /* Main Palette */

    --hover-color: black;
    --active-color: black;

    /* Font Sizes */

    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-xxl: 2rem;
}

.text.small {
    font-size: var(--text-sm);
}

.text.base {
    font-size: var(--text-base);
}

.text.large {
    font-size: var(--text-lg);
}

.text.xlarge {
    font-size: var(--text-xl);
}

.text.xxlarge {
    font-size: var(--text-xxl);
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

.body-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    flex-grow: 1;
}

a {
    display: inline;
}

a:hover {

}

a:visited {

}

.image.contained {
    max-width: 30vw;
    max-height: 30vh;
}

/* #endregion */

/* #region Header */

.item-list {
    list-style-type: none;
    padding: 0px;
}

.header-region {
    min-height: 5vh;
    background-color: #302020;
}

.logo-contact-container {
    display: flex;
    flex-direction: row;
    padding: 3vw;
    flex-wrap: wrap;
    background-color: #f7efdf;
}

.logo-slogan-container, .top-contact-container {
    display: flex;
}


.logo-slogan-container {
    flex-direction: column;
    display: flex;
    flex-grow: 0;
    justify-content: center;
}

.logo {
    text-align: center;
}

.slogan {
    text-align: center;
    flex-grow: 0;
    font-family: cursive;
    color: rgb(159, 140, 118);
}

.top-contact-container {
    justify-content: flex-end;
    flex-grow: 1;
}

.top-contact.item-list {
    text-align: end;
}

/* Stacks logo and contact vertically with narrow screen */

@media (max-width: 768px) {
    .logo-contact-container {
        flex-direction: column;
    }

    .top-contact-container {
        justify-content: center;
    }
}

/* #endregion */

/* #region Footer */

#site-footer {
    margin-top: 10vh;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-container, .map.image, .map-region {
    height: fit-content;
}

.map-container {
    padding: 0px;
    margin: 0px;
    flex-shrink: 1;
}

.google-maps-embed {
    width: 100%;
    height: 40vh;
    display: block;
}

.map-region {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    flex-shrink: 1;
}

.bottom-info-container {
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #302020;
    height: 15vh;
    color: white;
}

.schedule-container, .email-phone-container, .social-media-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.schedule-title {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.schedule.item-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    color: white;
}   

.fa {
    padding: 20px;
    width: 1vw;
    height: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa-facebook {
    background-color: #3b5998;
}

.fa-google {
    background-color: #dd4b39;
}

.fa-instagram {
    background-color: #125688;
}

.fa-yelp {
    background-color: red;
}


.copywright {
    text-align: center;
    padding: 1vh;
    background-color: #302020;
    color: white;
}

/* #endregion */

/* #region Nav Bar */

.nav-region {
    display: block;
}



.nav-bar {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 3vw;
    height: 5vh;
    margin: 1%;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 0;
    justify-content: center;
    align-items: center;
}

.nav.item {
    border: 0;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    background-color: transparent;
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-shrink: 1;
}


.nav.item:hover {
    border-bottom: var(--hover-color) 1px solid;

}

.nav.item.active {
    border-bottom: var(--active-color) 2px solid;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-region {
        display: block;
    }

    .nav-bar {
        flex-direction: column;
        height: auto;
        margin: 5%;
    }

}

/* #endregion */

/* #region Slideshow */

.slideshow-container {
    border: 1px black solid;
    display: grid;
    height: 60vh;
    width: 70vw;
    margin: 2vw;
    grid-template-columns: 4% auto 4%;
    grid-template-rows: 43% auto 43%;
}

.slideshow {
    flex-grow: 1;
}

.slideshow-arrow {
    grid-row: 2 / 3;
    padding: 0px;
    border: 0px;
    position: relative;
    z-index: 3;
}

.slideshow-arrow.left {
    grid-column: 1 / 2;
}

.slideshow-arrow.right {
    grid-column: 3;
}

.arrow-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slideshow-image-container {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    height: 60vh;
    width: 70vw;
    display: grid;
    grid-template-areas: "overlap-area";
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    grid-area: overlap-area;
    max-height: 60vh;
    z-index: 0;
}

.slideshow-image.active {
    z-index: 1;
}

.slideshow-dots-container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.bigger-dot-container {
    height: 1.25vh;
    width: 1.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-dot {
    border: 0px;
    background-color: #757575;
    height: .75vh;
    width: 1vh;
}

.slideshow-dot.active {
    height: 1.25vh;
    width: 1.25vh;
    background-color: #303030;
}

/* #endregion */

/* #region Quote */



.quote-container {
    display: flex;
    flex-direction: column;
    margin: 5vh 5vw;
    background-color: transparent;
}

.quote {
    text-align: justify;
    background-color: transparent;
    width: 55vw;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .quote {
        width: 95vw;
    }
}

/* #endregion */

/* #region Home */

.horizontal-stack.container.home-link {
    gap: 5vw;
    width: 60vw;
}

.horizontal-stack.item.home-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-link img {
    height: 10vw;
    width: 10vw;
}

/* #endregion */

/* #region Insurances */

.text {
    text-align: center;
}

.two-by-two-grid.insurance.container {
    width: 70vw;
    height: 70vh;
    gap: 2vh;
    margin: 10vh;
}

.credit-card-logo {
    max-height: 5vh;
}

.insurance-list-container {
    display: flex;
    max-width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    border: 1px black solid;
    padding: 3vw;
    margin: 10vh;
}

.insurance-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insurance-item-container img {
    max-width: 10vw;
    height: auto;
    width: auto;
    flex-shrink: 1;
}

.horizontal-stack.container.insurance {
    gap: 0vw;
}

.horizontal-stack.item.card-image {
    max-height: 10vh;
    width: auto;
    max-width: 10vw;
}

#care-credit-logo {
    max-width: 20vw;
}

/* #endregion */

/* #region Stacks */

.horizontal-stack.container {
    display: flex;
    flex-direction: row;
    gap: 7vw;
    margin: 5vh 1vh;
    align-items: stretch;
    justify-content: center;
}

.horizontal-stack.item {
    max-width: 20vw;
}



/* #endregion */

/* #region Grids */

.two-by-two-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    margin: 10vh 10vw;
}

@media (max-width: 600px) {
    .two-by-two-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid.item {
    text-align: center;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.grid.item img {
    margin: 2vw;
}

/* #endregion */

/* #region Clouds */

.image-cloud-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* #endregion */