* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: black 1px solid; */
    background-color: transparent;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.item-list {
    list-style-type: none;
    padding: 0px;
}

.header-region, .bottom-margin {
    min-height: 50px;
    background-color: #302020;
}

.logo-contact-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #f7efdf;
    /* margin-bottom: 20px; */
}

.logo-slogan-container, .top-contact-container {
    display: flex;
}


.logo-slogan-container {
    flex-direction: column;
    display: flex;
    flex-grow: 0;
}

.logo {
    font-size: 50px;
    text-align: center;
}

.slogan {
    text-align: center;
    flex-grow: 0;
    font-size: 20px;
    font-family: cursive;
    color: rgb(159, 140, 118);
}

.top-contact-container {
    justify-content: flex-end;
    flex-grow: 1;
}

.top-contact.item-list {
    text-align: end;
}

.nav-container {
    display: flex;
    flex-grow: 1;
    min-height: 50px;
    justify-content: center;
    flex-shrink: 0;
    margin: 0px 50px 0px 50px;
}

.nav-bar {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-divider {
    height: 35px;
    width: 1px;
    /* border: solid black 1px; */
    background-color: black;
    align-self: center;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 0;
    justify-content: center;
    align-items: center;
}

.nav.item {
    flex-grow: 1;
    border: 0;
    font-size: clamp(.75em, 1.35vw, 1.25em);
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    background-color: transparent;
    align-self: stretch;
    justify-content: center;
    display: flex;
}

.nav.item:visited,
.nav.item:active {
    color: black;
    text-decoration: none;
}

.nav.item:hover {
    color: #302020;
    /* text-decoration: underline; */
    /* background-color: rgb(163, 116, 54); */
}

.nav-item-container:hover {
    background-color: #faf7f0;
}

.nav-item-container.active {
    background-color: #f7efdf;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    align-content: stretch;
    margin: 20px;
    height: auto;
    width: 90vw;
}

.slideshow {
    flex-grow: 1;
}

.slideshow.image {
    width: 100%;
    height: auto;
}

.map.image {
    width: 100%;
    height: 100%;
}

.bottom-info-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.schedule-container, .email-phone-container, .social-media-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.body-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    /* background-color: #302020; */
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 5vw 5vh 5vw 5vh;
    background-color: transparent;
}

.quote {
    font-size: clamp(.5rem, 2vw, 2.5rem);
    text-align: center;
    background-color: transparent;
}

.schedule-title {
    font-size: 1.5em;
    flex-basis: 1;
}

.schedule.item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa-facebook {
    background-color: #3b5998;
}

.fa-google {
    background-color: #dd4b39;
}

.fa-instagram {
    background-color: #125668;
}

.fa-yelp {
    background-color: red;
}


