* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: black 1px solid; */
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

.item-list {
    list-style-type: none;
    padding: 0px;
}

.header-region {
    min-height: 50px;
}

.logo-contact-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex-wrap: wrap;
}

.logo-slogan-container, .top-contact-container {
    display: flex;
}


.logo-slogan-container {
    flex-direction: column;
    display: flex;
    flex-grow: 0;
}

.logo {
    font-size: 50px;
}

.slogan {
    text-align: center;
    flex-grow: 0;
    font-size: 20px;
    font-family: cursive;
}

.top-contact-container {
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-container {
    display: flex;
    flex-grow: 1;
    min-height: 50px;
    justify-content: center;
    flex-shrink: 0;
    margin: 0px 50px 0px 50px;
}

.nav-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-divider {
    height: 35px;
    width: 1px;
    /* border: solid black 1px; */
    background-color: black;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 0;
    justify-content: center;
    align-items: center;
}

.nav.item {
    flex-grow: 1;
    border: 0;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.nav.item:visited,
.nav.item:active {
    color: black;
    text-decoration: none;
}

.nav.item:hover {
    color: brown;
    text-decoration: underline;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    align-content: stretch;
    margin: 20px;
    height: auto;
    width: 90vw;
}

.slideshow {
    flex-grow: 1;
}

.slideshow.image {
    width: 100%;
    height: auto;
}

.map.image {
    width: 100%;
    height: 100%;
}

.bottom-info-container {
    display: flex;
    flex-direction: row;
}

.schedule-container {
    display: flex;
    flex-grow: 1;
}

.bottom-contact-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
}

.body-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 200px 200px 200px 200px;
}

.quote {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    text-align: center;
}
