/* #region General */

* {
    font-family: "Albert Sans", sans-serif;
    /* border: black 1px solid; */
    background-color: transparent;
}


.albert-sans-font {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
    /* Nav bar colors */
    --hover-color: black;
    --active-color: black;
}

html {
    font-size: 16px;
}


body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

.body-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    flex-grow: 1;
}

a:hover {

}

a:visited {
    
}

/* #endregion */

/* #region Header */

.item-list {
    list-style-type: none;
    padding: 0px;
}

.header-region {
    min-height: 50px;
    background-color: #302020;
}

.logo-contact-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #f7efdf;
    /* margin-bottom: 20px; */
}

.logo-slogan-container, .top-contact-container {
    display: flex;
}


.logo-slogan-container {
    flex-direction: column;
    display: flex;
    flex-grow: 0;
}

.logo {
    font-size: 50px;
    text-align: center;
}

.slogan {
    text-align: center;
    flex-grow: 0;
    font-size: 20px;
    font-family: cursive;
    color: rgb(159, 140, 118);
}

.top-contact-container {
    justify-content: flex-end;
    flex-grow: 1;
}

.top-contact.item-list {
    text-align: end;
}

/* #endregion */

/* #region Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-container, .map.image, .map-region {
    height: fit-content;
}

.map-container {
    padding: 0px;
    margin: 0px;
    flex-shrink: 1;
}

.google-maps-embed {
    width: 100%;
    height: 40vh;
    display: block;
}

.map-region {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    flex-shrink: 1;
}

.bottom-info-container {
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #302020;
    height: 15vh;
    color: white;
}

.schedule-container, .email-phone-container, .social-media-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.schedule-title {
    display: flex;
    font-size: 1.5em;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.schedule.item-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    color: white;
}   

.fa {
    padding: 20px;
    font-size: 40px;
    width: 1vw;
    height: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa-facebook {
    font-size: 60;
    background-color: #3b5998;
}

.fa-google {
    background-color: #dd4b39;
}

.fa-instagram {
    background-color: #125688;
}

.fa-yelp {
    background-color: red;
}


.copywright {
    text-align: center;
    padding: 1vh;
    background-color: #302020;
    color: white;
}

/* #endregion */

/* #region Nav Bar */

.nav-container {
    display: flex;
    flex-grow: 1;
    min-height: 50px;
    justify-content: center;
    flex-shrink: 1;
    margin: 0px 50px 0px 50px;
}

.nav-bar {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-divider {
    height: 50px;
    width: 30px;
    align-self: center;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 0;
    justify-content: center;
    align-items: center;
}

.nav.item {
    border: 0;
    font-size: clamp(.75em, 1.35vw, 1.25em);
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    background-color: transparent;
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-shrink: 1;
}


.nav.item:hover {
    border-bottom: var(--hover-color) 1px solid;

}

.nav.item.active {
    border-bottom: var(--active-color) 2px solid;
    background-color: white;
}

/* #endregion */

/* #region Slideshow */

.slideshow-container {
    border: 1px black solid;
    display: grid;
    height: 60vh;
    width: 70vw;
    margin: 2vw;
    grid-template-columns: 4% auto 4%;
    grid-template-rows: 43% auto 43%;
}

.slideshow {
    flex-grow: 1;
}

.slideshow-arrow {
    grid-row: 2 / 3;
    padding: 0px;
    border: 0px;
    position: relative;
    z-index: 3;
}

.slideshow-arrow.left {
    grid-column: 1 / 2;
}

.slideshow-arrow.right {
    grid-column: 3;
}

.arrow-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slideshow-image-container {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    height: 60vh;
    width: 70vw;
    display: grid;
    grid-template-areas: "overlap-area";
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    grid-area: overlap-area;
    max-height: 60vh;
    z-index: 0;
}

.slideshow-image.active {
    z-index: 1;
}

.slideshow-dots-container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.bigger-dot-container {
    height: 1.25vh;
    width: 1.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-dot {
    border: 0px;
    background-color: #757575;
    height: .75vh;
    width: 1vh;
}

.slideshow-dot.active {
    height: 1.25vh;
    width: 1.25vh;
    background-color: #303030;
}

/* #endregion */

/* #region Quote */



.quote-container {
    display: flex;
    flex-direction: column;
    margin: 5vw 5vh 5vw 5vh;
    background-color: transparent;
}

.quote {
    font-size: clamp(.5rem, 2vw, 2.5rem);
    text-align: justify;
    background-color: transparent;
    width: 58vw;
    line-height: 1.5;
}

/* #endregion */

/* #region Home */

.home-link img {
    height: 10vw;
    width: 10vw;
}

/* #endregion */

/* #region Insurances */

.text {
    text-align: center;
}

.medium {
    font-size: 3vh;
    margin: 3vh;
    text-align: center;
}

.medium-small {
    font-size: 2vh;

}

.horizontal-stack.container {
    display: flex;
    flex-direction: row;
    gap: 7vw;
    margin: 5vh 1vh;
    align-items: stretch;
    justify-content: center;
}

.horizontal-stack.container.insurance {
    gap: 2vw;
    width: 70vw;
    height: 20vh;
}

.horizontal-stack.item {
    max-width: 20vw;
}

.horizontal-stack.insurance.item {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 35vw;
    flex-grow: 1;
    padding: 3vw;
}

.horizontal-stack.insurance.item img {
    max-height: 5vh;
    width: auto;
    margin: 1vh;
}

.insurance-list-container {
    display: flex;
    max-width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.insurance-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insurance-item-container img {
    max-width: 10vw;
    height: auto;
    width: auto;
    flex-shrink: 1;
}

/* #endregion */

/* #region Stacks */

.horizontal-stack.container.home-link {
    gap: 5vw;
    width: 60vw;
}

.horizontal-stack.item.home-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion */



