<footer class="site-footer">
    <div class="footer">
        <div class="map-region">
            <div class="map-container">
                <img class="map image" 
                src="{{ '/images/Screenshot_20260104_100023.png' | relative_url }}" alt="map">
            </div>
        </div>
        <div class="bottom-info-region">
            <div class="bottom-info-container">
                <div class="schedule-container">
                    <div class="schedule-title">
                        Office Hours
                    </div>
                    <ul class="schedule item-list">
                        <li class="schedule item">Mon-Fri: 9AM - 5PM</li>
                        <li class="schedule item">Sat: By Appointment</li>
                    </ul>
                </div>
                <div class="social-media-container">
                    <div class="social-media-icons">
                        <a href="#" class="fa fa-yelp"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-google"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
                <div class="email-phone-container">
                    <ul class="bottom-contact item-list">
                        <li class="bottom-contact item">terravistadc@gmail.com</li>
                        <li class="bottom-contact item">909-256-8484</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-margin"></div>
</footer>