---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurances</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <div class="medium text">
            We accept all PPO insurances and are in network for most dental insurances.
        </div>
        <div class="insurance-list-container">
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/Delta_Dental_logo.svg" alt="delta dental logo">
                <ul class="insurance-names">
                    <li>Delta Dental PPO</li>
                    <li>Delta Dental Legion Network</li>
                    <li>Delta Dental Medicare Advantage</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/Aetna_logo.svg" alt="aetna logo">
                <ul class="insurance-names">
                    <li>Aetna PPO</li>
                    <li>Aetna Discount Dental Plans</li>
                    <li>Aetna Medicare Advantage</li>
                    <li>Aetna Third Party Rental Umbrella</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/Humana_logo.svg" alt="humana logo">
                <ul class="insurance-names">
                    <li>Humana</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/geha_connectiondentalnetwork.png" alt="connection dental geha logo">
                <ul class="insurance-names">
                    <li>Connection Dental GEHA</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/careington-logo-dark.png" alt="carington logo">
                <ul class="insurance-names">
                    <li>Careington</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/united-concordia-logo.png" alt="united concordia logo">
                <ul class="insurance-names">
                    <li>United Concordia</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/Guardian_Insurance_logo.svg" alt="guardian insurance logo">
                <ul class="insurance-names">
                    <li>Guardian</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/UnitedHealthcare_(logo).svg" alt="united healthcare logo">
                <ul class="insurance-names">
                    <li>United Healthcare</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/cigna-3.svg" alt="cigna logo">
                <ul class="insurance-names">
                    <li>Cigna</li>
                    <li>Cigna Health Plus</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/MetLife_logo.svg" alt="metlife logo">
                <ul class="insurance-names">
                    <li>MetLife</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/dmx-logo-home.png" alt="dentemax logo">
                <ul class="insurance-names">
                    <li>Dentemax</li>
                </ul>
            </div>
            <div class="insurance-item-container">
                <img src="../images/insurance-logos/blue-cross-blue-shield-vector-logo-small.png" alt="blue cross blue shield logo">
                <ul class="insurance-names">
                    <li>Blue Cross Blue Shield</li>
                </ul>
            </div>
        </div>
        <div class="medium text">
            If you do not see your insurance listed above, please <a href="contact.html">contact our office</a> for more information.
        </div>
        <div class="medium text">
            If you do not have dental insurance, please <a href="contact.html">contact our office</a> for the payment plans we offer.
        </div>
        <div class="medium text">

        </div>
        <div class="two-by-two-grid container insurance">
            <div class="grid item insurance">
                <div class="medium-small text">
                    We also take CareCredit plans. CareCredit is a health and wellness credit card that offers certain
                    no-interest payment option to patients to cover their out-of-pocket health related expenses. To apply
                    for a line of credit with CareCredit, click <a href="insurance.html">here</a>. Alternatively, you can also aply for 
                    CareCredit while you are at our office. It only takes a few minutes to get approved. Apply for CareCredit 
                    <a href="https://www.carecredit.com/apply/" target="_blank">here</a>.
                </div>
                <img style="display: block;" src="../images/insurance-logos/cc-logo-slogan.png" alt="care credit logo">
            </div>
            <div class="grid item insurance">
                <div class="medium-small text">
                    We accept 
                    <a href="https://www.healthcare.gov/have-job-based-coverage/flexible-spending-accounts/"
                    target="_blank">Flexible Spending Account (FSA)</a> 
                    and 
                    <a href="https://www.healthcare.gov/high-deductible-health-plan/setting-up-hsa/" 
                    target="_blank">Health Savings Account (HSA)</a>
                    cards and will provide you with 
                    the necessary receipts and documentation for tax purposes.
                </div>
                <div class="horizontal-stack container insurance">
                    <img class="card-image horizontal-stack item" src="../images/credit-card-logos/FSA_Card.png" alt="flexible spending account example">
                    <img class="card-image horizontal-stack item" src="../images/credit-card-logos/health-savings-account-debit-card-260nw-591565181.webp"
                    alt="health savings account logo">
                </div>
            </div>
            <div class="grid item insurance">
                <div class="medium-small text">
                    To see some of our cosmetic procedures that are generally not covered by dental insurance, 
                    please click <a href="services_provided.html">here</a>.
                </div>
            </div>
            <div class="grid item insurance">
                <div class="medium-small text">
                    We accept:
                    <ul>
                        <li>Debit cards</li>
                        <li>Check cards</li>
                        <li>Bank cards</li>
                        <li>ATM cards</li>
                        <li>Credit Cards</li>
                    </ul>
                </div>
                <div class="image-cloud-container insurance">
                    <img class="credit-card-logo" src="../images/credit-card-logos/Visa_Inc._logo.svg" alt="visa logo">
                    <img class="credit-card-logo" src="../images/credit-card-logos/Mastercard-logo.svg" alt="mastercard logo">
                    <img class="credit-card-logo" src="../images/credit-card-logos/AXP_BlueBoxLogo_Alternate_SMALLscale_RGB_DIGITAL_80x80.svg" alt="american express logo">
                    <img class="credit-card-logo" src="../images/credit-card-logos/Discover_Card_logo.svg" alt="discover logo">
                </div>
            </div>
        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}" defer></script>
</body>
</html>