---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Doctors</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <h1>Our Doctors</h1>
        <div class="medium text box">
            <img class="face-image" src="../images/how-to-draw-a-blank-face-featured-image-1200.png" alt="profile">
            <p>
                Dr. Sejal Rajurkar has been practicing dentistry for over
                15 years. She is a graduate of the prestigious Loma Linda
                University School of Dentistry, where she finished at the 
                top of her class and was placed on the Dean's List for her
                academic achievements.
            </p>
            <p>
                Dr. Rajurkar's primary focus in dentistry is educating 
                patients on oral health and preventive dental care in order
                to reduce the amount of dental treatment needed over time.
                She is committed to providing honest and ethical evaluations 
                of her patients' oral condition and always recommends the 
                most conservative treatment options first, while also 
                explaining all available alternatives along with their 
                benefits and drawbacks.
            </p>
            <p>
                Known for her patience, compassion, and kindness, Dr. 
                Rajurkar is deeply loved by her patients. She has a very 
                gentle touch—so much so that her patients often describe her 
                as having “angel hands.” She takes the time to listen 
                carefully to every concern and obtains a thorough medical
                and dental history to ensure an accurate diagnosis. 
                Artistically inclined, she strives to bring creativity and 
                precision into her dentistry, particularly in cosmetic 
                treatments. She works closely with her patients and does not 
                consider treatment complete until both she and the patient 
                are fully satisfied with the results.
            </p>
            <p>
                Before earning her Doctor of Dental Surgery (DDS) degree at 
                Loma Linda University, Dr. Rajurkar worked as a Dental 
                Research assistant at the University of Colorado School of 
                Dental Medicine's Research Department. She authored research 
                papers that she presented at the International Association 
                for Dental Research in 2007. Her passion for research 
                continued during dental school, where she served as lead 
                investigator on a Dental Materials research project
                presented at both University and State levels.
            </p>
            <p>
                Whether you are experiencing a dental emergency or are 
                unhappy with your smile, Dr. Rajurkar will treat, help and 
                guide you through the entire treatment process. She is very 
                thorough at comprehensively evaluating your oral health and 
                will discuss your short- and long-term goals, and recommend 
                the best treatment plan for you.
            </p>
        </div>
    </div>
    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}" defer></script>
</body>
</html>