---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Resources</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <h1>Patient Resources</h1>

        <div class="horizontal-stack container padded section-parent">
            <div class="horizontal-stack item bordered-box container padded">
                <img class="medium-image" src="../images/how-to-draw-a-blank-face-featured-image-1200.png" alt="">
                <h2>New Patient Forms</h2>
            </div>
            <div class="horizontal-stack item bordered-box padded">
                <h2>Post-Operative Instructions</h2>
                <div class="list-containter">
                    <ul>
                        <li><a href="../files/post_op_instructions/PDF amalgam post-op.pdf" target="_blank">Amalgam</a></li>
                        <li><a href="../files/post_op_instructions/PDF Arrestin post-op.pdf" target="_blank">Arrestin</a></li>
                        <li><a href="../files/post_op_instructions/PDF composite post-op.pdf" target="_blank">Composite</a></li>
                        <li><a href="../files/post_op_instructions/PDF post-op extraction.pdf" target="_blank">Extraction</a></li>
                        <li><a href="../files/post_op_instructions/PDF SRP's Deep Cleaning.pdf" target="_blank">Deep Cleaning</a></li>
                        <li><a href="../files/post_op_instructions/PDF Temp crown, Inlay, Onlay post-op.pdf" target="_blank">Temporary Crown, Inlay, Onlay</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="vertical-stack bordered-box section-parent">
            <h2>Payment Plans</h2>
            <div class="horizontal-stack padded">
                <div class="vertical-stack">
                    <h3>In House</h3>
                    <div class="vertical-stack center-children">
                        <img class="medium-image" src="../images/in-house.jpg" alt="">
                    </div>
                </div>
                <div class="vertical-stack">
                    <h3>Cherry</h3>
                    <div class="vertical-stack center-children">
                        <a href="https://withcherry.com/consumers">
                            <img class="medium-image" src="../images/insurance-logos/68252146834983973a92051f_cherry-logo-primary.svg" alt="">                            
                        </a>
                    </div>
                </div>
                <div class="vertical-stack">
                    <h3>CareCredit</h3>
                    <div class="vertical-stack center-children">
                        <a href="https://www.carecredit.com/apply/">
                            <img class="medium-image" src="../images/insurance-logos/cc-logo-slogan.png" alt="">
                        </a>

                    </div>
                </div>
            </div>
            
        </div>


        <div class="horizontal-stack margin section-parent">
            <div class="vertical-stack bordered-box">
                <h2>Insurances</h2>
                <div class="horizontal-stack padded">
                    <div>
                        <h3>We Accept</h3>
                        <ul>
                            <li>All PPOs</li>
                            <li>Military Plans</li>
                            <li>Discount Dental Plans</li>
                            <li>Dental Network Plans</li>
                        </ul>
                    </div>
                    <a  href="../pages/insurance.html">Click here for more information</a>
                </div>
            </div>

            <div class="vertical-stack bordered-box">
                <div class="offset-title">
                    <h2 >
                        <p class="align-text-left">
                            No Insurance?
                        </p>
                        <p class="align-text-right">
                            No Problem!
                        </p>
                    </h2>
                </div>
                <div class="horizontal-stack padded">
                    <p>
                        We have:
                    </p>
                    <ul>
                        <li>Transparent upfront pricing</li>
                        <li>Flexible payment plans available</li>
                        <li>Complimentary consultation for new patients</li>
                    </ul>
                </div>

            </div>
        </div>

        

        <h2>Educational Resources for Patients</h2>
        <div></div>
        <ul>
            <li><a href="https://www.cda.org/practice/resources-to-support-patient-health/" target="_blank">Patient Health</a></li>
            <li><a href="https://www.cda.org/public-health/low-cost-dental-services/">Low Cost Dental Services</a></li>
            <li><a href="https://www.cda.org/public-health/oral-health-fact-sheets/">Oral Health Fact Sheets</a></li>
        </ul>
        
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>
    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}" defer></script>
</body>
</html>