---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Offered</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <h1>Services Offered</h1>
        <div class="large text box">
            <p>
                At Terra Vista Dental Care we provide dental care for the entire 
                family. Our experienced doctor and friendly staff will make sure 
                you and your children receive the best dental treatment and care 
                in a very welcoming and happy environment.
            </p>
            <img class="large-image" src="../images/services/familypic.png" alt="tooth family">
        </div>
        <div class="horizontal-stack">

        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
        <div class="horizontal-stack">
            
        </div>
  
        <ul>
            <li>Comprehensive Oral and Tooth Exam</li>
            <li>Oral Cancer Screening</li>
            <li>Digital X-rays</li>
            <li>Composite/White Fillings</li>
            <li>Amalgam/Silver Fillings</li>
            <li>Teeth Bonding</li>
            <li>Regular and Deep Teeth Cleaning</li>
            <li>Dental Crowns</li>
            <li>Dental Bridges</li>
            <li>Dentures</li>
            <li>Invisalign/Clear Aligners</li>
            <li>Dental Inlays and Onlays</li>
            <li>Dental Veneers</li>
            <li>Teeth Whitening</li>
            <li>Emergency Dentistry</li>
            <li>Root Canal Therapy</li>
            <li>Laser Dentistry</li>
            <li>Sports Guard</li>
            <li>Mouth Guard</li>
            <li>Night Guard</li>
            <li>Ortho Retainers</li>
            <li>Dental Sealants</li>
            <li>Oral Fluoride Treatment</li>
            <li>Teeth Extraction</li>
            <li>Bone Grafting</li>
        </ul>
        <div class="large text box">
            <p>For more information on common dental procedures, 
                click <a href="https://www.cda.org/public-health/oral-health-fact-sheets/">here</a>.</p>
        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}" defer></script>
</body>
</html>