---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Offered</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="main-content-wrapper">
        <div class="body-region hidden">    
            <h1>Services Offered</h1>
            <div class="large text box">
                <p>
                    At Terra Vista Dental Care we provide dental care for the entire 
                    family. Our experienced doctor and friendly staff will make sure 
                    you and your children receive the best dental treatment and care 
                    in a very welcoming and happy environment.
                </p>
                <img class="medium-image" src="../images/services/familypic.png" alt="tooth family">
            </div>


            <div class="services-content-wrapper">

                <!-- Items -->
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/exampic.JPEG" alt="dental exam">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            We emphasize regular dental check-ups. We do an oral cancer 
                            screening and thorough checkup of your teeth, gums and oral 
                            mucosa so we can detect problems at an early stage preventing 
                            costly dental problems in the future. Click 
                            <a href="specials.html">here</a> for our New 
                            Patient Exam/Cleaning special offer.
                        </p>
                    </div>
                </div>

                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/brushingpic.jpg" alt="cleaning">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Regular 3-monthly or 6-monthly dental cleanings help keep your 
                            teeth healthy and cavity-free. It also keeps your gums healthy 
                            and potentially prevent the next stage in gum disease known as 
                            periodontitis.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
    " src="../images/services/flossingpic.jpg" alt="flossing">
                    </div>
                    <div class="services content-half">
                        <p>
                            We give oral hygiene instructions at every cleaning. We will 
                            demonstrate to you how to brush and floss properly so you can 
                            keep your teeth healthy and clean between dental check-ups.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/fluoridepic.jpg" alt="fluoride">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Regular applications of Fluoride Varnish on teeth, 
                            typically after every dental cleaning helps 
                            strengthen enamel and prevent cavities. It can also 
                            reverse incipient cavities (cavities in very early 
                            stages) by a process called remineralization. It is 
                            a yellowish liquid that leaves no residue or 
                            discoloration.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/sealantpic.jpg" alt="sealants">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Dental Sealants are placed on virgin teeth (teeth 
                            with no previous cavities or fillings) to seal 
                            natural deep fissures on teeth. This is a painfree 
                            procedure requiring no numbing. It is a commonly 
                            used preventive procedure to prevent cavities in 
                            children and can be used for adults as well.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/brushingpic.jpg" alt="laser">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Laser technology is used in dentistry as an option
                            to traditional dental approaches because of its 
                            high precision and enhanced  comfort to the 
                            patient. It can be used for gum recontouring, as a 
                            sterilizing agent and for enhanced tissure healing 
                            in cojunction with deep cleaning.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/brushingpic.jpg" alt="bonding">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Dental bonding is a quick non-invasive cosmetic 
                            procedure where a tooth-colored composite 
                            material is used to fix chipped or cracked teeth. 
                            It is also used to treat discolored or mal-formed 
                            teeth or even close small gaps between teeth.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/brushingpic.jpg" alt="veneers">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Veneersveneers
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/brushingpic.jpg" alt="invisalign">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Invisalign or any other clear aligner treatment 
                            provides a great alternative to traditional metal 
                            braces. To schedule a free consultation to see if 
                            you are a good candidate for clear aligner treatment 
                            call us at (909) 256-8484. 
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/orthoretentionpic.JPEG" alt="orthodontic retainers">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            If you ever had orthodontic treatment, using 
                            retainers helps prevent unwanted teeth movement and 
                            relapse. This could save you from costly 
                            retreatments in the future. We offer different kinds 
                            of orthodontic retainers including fixed retainers, 
                            clear retainers and retainers with wire clasps.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/whiteningpic.jpg" alt="teeth whitening">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            We provide professional ZOOM teeth whitening 
                            services. We do in-office whitening as well as make 
                            custom bleaching trays for you to take home. Doing 
                            the procedure in the office allows us to protect 
                            your gums while evenly bleaching your teeth. Zoom 
                            has shown to whiten teeth upto eight shades ligher 
                            in a single session.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/fillingpic.jpg" alt="filling">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            We do tooth-colored white fillings also known as 
                            composite restorations to treat cavities. We also do 
                            silver fillings (amalgam restorations.)
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/inlaypic.jpg" alt="inlay">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            If your cavity is big the doctor might suggest a 
                            dental inlay instead of a composite filling. Simply 
                            put, an inlay is a custom filling made out of high 
                            quality porcleain in a dental lab. An inlay sits 
                            passively in the tooth and provides excellent fit, 
                            durability and esthetics. 
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/crownpic.jpg" alt="crown">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Dental crowns are used to protect and hold together 
                            broken teeth, badly decayed teeth or teeth with 
                            cracks. There are different types of crowns 
                            including ceramic (tooth colored), metal and 
                            porcelain with metal.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/onlaypic.jpg" alt="onlay">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Dental onlays are like partial crowns. Onlays are 
                            used to protect broken teeth when a full coverage 
                            crown is not needed. This allows the dentist to 
                            cover only part of the tooth that needs to be 
                            protected and leave the rest of the tooth intact. 
                            They are made from tooth colored porcelain, have a 
                            precise fit and offer excellent esthetics.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/srppic.jpg" alt="scaling and root planning">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            If you need a deep cleaning also know as scaling and 
                            root planing our doctor will work hard to make sure 
                            all the build-up is removed so that your gums can 
                            start returning to their normal health.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/arrestinpic.jpg" alt="arrestin">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Arrestin is a special type of antibiotic that is 
                            delivered to the bottom of the infected gum pocket 
                            after a deep cleaning (It does not require any 
                            needles or anesthesia.) It is recommended when you 
                            have severe gum disease known as periodontitis. 
                            Arrestin helps reduce pocket depth, bleeding and 
                            harmful bacteria.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/sportsguardpic.JPEG" alt="sports guard">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Play a sport? Martial arts, football, soccer, 
                            boxing? Get a sports guard and protect your teeth. 
                            Custom sportguards fit your teeth so perfectly you 
                            feel like wearing it!
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/nightguardpic.jpg" alt="night guard">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Bruxism is a technical term for when you grind your 
                            teeth. Most people who grind their teeth do it at 
                            night (Ask your spouse if they hear you grind your 
                            teeth.) Bruxing creates cracks and small fractures 
                            on your teeth that could lead to bigger dental 
                            problems. Wearing a night guard while you sleep 
                            protects your teeth and surrounding structures.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/brushingpic.jpg" alt="extraction and bone graft">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            We do dental extractions and bone graft procedure 
                            after the extraction to maintain structural 
                            integrity and prevent the jawbone from shrinking. 
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/bridgepic.JPEG" alt="bridge">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            If you have a missing tooth or teeth a dental bridge 
                            to replace the missing tooth and fill that gap 
                            between your teeth. The bridge is permanently 
                            cemented in place.
                        </p>
                    </div>
                </div>
                <div class="services-content-item">
                    <div class="services content-half">
                        <img class="small-image
 services" src="../images/services/denturepic.JPEG" alt="dentures">
                    </div>
                    <div class="services content-half">
                        <p class="services">
                            Never leave home without your smile! We make full, 
                            partial, immediate full, immediate partial, 
                            metal-based, resin-based and flexible base based 
                            dentures, plates etc.
                        </p>
                    </div>
                </div>
                <div class="large text box">
                    <p>For more information on common dental procedures, 
                        click <a href="https://www.cda.org/public-health/oral-health-fact-sheets/">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}" defer></script>
</body>
</html>