---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specials</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <h1>Specials</h1>
        <div class="two-by-three-grid">
            <div id="qr-code" class="grid item special">QR</div>
            <div id="no-insurance" class="grid item special">No insurance</div>
            <div id="placeholder" class="grid item special">still thinking</div>
            <div id="veneers" class="grid item special">
                <div class="text large">
                    Veneers
                </div>
                <img src="../images/young-woman-smiling.jpg" alt="veneers">
                <div class="text small">
                    There are different kinds of veneers. To determine which kind is best for you, 
                    please schedule a complimentary consultation with our doctor. Ask for our
                    special pricing for 4, 6, and 8 veneers.
                </div>
            </div>
        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}" defer></script>
</body>
</html>